
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";

html, body {
  user-select: none;
  touch-action: none;
}

html {
min-height: 100% !important;
height: 100%;
}

body  {
  background-image: url('../images/SVG/base.svg');
  background-size: contain; 
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Neutral Std', sans-serif;
  font-weight: 500;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  position:relative;
}
